:root {
    --bg1-color: #004643;
    --title1-color: #fffffe;
    --paragraph1-color: #abd1c6;
    --button1-color: #f9bc60;
    --buttonText1-color: #001e1d;
}

body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
    background-color: var(--bg1-color);
}

nav a {
    color: black;
    text-decoration: none;
}

.title h1 {
    font-size: 3rem;
    color: #fff;
    text-align: left;
}

.title h1 span {
    position: relative;
    color: #ff6347;
}

.title h1 span::before {
    /*content: "";*/
    right: -8px;
    /*top: 50%;*/
    position: absolute;
    height: 45px;
    width: 2px;
    background: #ff6347;
    /*transform: translateY(-45%);*/
    animation: blink 0.7s infinite;
}

p {
    line-height: 1.8;
}

.title p {
    color: var(--paragraph1-color);
    font-size: 1.3rem;
}

.title h1 span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}